.main-header {
  $link-color: #003d7c;
  $link-color-active: #0088ff;

  font-family: ITCAvantGardeBk;

  .navbar {
    background-color: #ffffff;
    box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  }

  .nav-link {
    color: $link-color;

    &:hover,
    &:focus,
    &:active {
      color: $link-color-active;
    }

    @media (min-width: 768px) {
      &:after {
        content: '';
        display: block;
        border-bottom: solid 2px $link-color-active;
        transform: scaleX(0);
        transition: transform .25s ease-in-out;
      }

      &:hover,
      &:focus,
      &:active {

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }

  .navbar-toggler-icon {
    .fa {
      line-height: 1.5em;
    }
  }

  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-item {
      .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
      }
    }
  }
}
